.cache
.vscode
.vs
build
deps
# dist
# example
node_modules
scripts
src
.gitattributes
.gitignore
.gitmodules
.prettierrc
CMakeLists.txt
# index.ts
# jieba.d.ts
# jieba.js
package-lock.json
# tsconfig.json
webpack.config.js